:root{
  --bg-color: #26335D;
  --secondary: #B99B3C;
  --primary: #FFFFFF;
  --gray-text: #737373;
  --danger-text: #E74040;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

section{
  min-height: 100vh;
  width: 1440px;
  margin: auto;
  max-width: 100%;
}




@media screen and (max-height: 1280px) {
  section {
    min-height: max-content;
    margin-bottom: 200px;
  }

  header{
    margin-bottom: 100px;
  }
}
