:root{
  --bg-color: #26335D;
  --secondary: #B99B3C;
  --primary: #FFFFFF;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

section{
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
}


.global-container{
  width: 1440px;
  margin: auto;
  max-width: 100%;
}