:root{
  --bg-color: #26335D;
  --secondary: #B99B3C;
  --primary: #FFFFFF;
  --gray-text: #737373;
  --danger-text: #E74040;
  --border-color-1: #ff6b6b;
  --border-color-2: #6bc5ff;
  --border-color-3: #6bff95;
  --border-color-4: #ffd36b;
  --border-color-5: #d96bff;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

section{
  min-height: 100vh;
  width: 1440px;
  margin: auto;
  max-width: 100%;
  margin-top: 200px;
}



@media screen and (max-height: 1280px) {
  section {
    min-height: max-content;
  }
}
